/***********************/
/* irenepolnyi.com CSS */
/***********************/

/* General */
html, body { margin: 0; padding: 0; }
html { color: #222; font-family:'Georgia','DejaVu Serif','Times','Times New Roman',serif; font-size: 110%; line-height: 1.8em; }
body { background: transparent url(http://tramchase.com/images/flora-flowaz-low.jpg) top right repeat; }

a { color: #499040; border-bottom: 1px solid #a9c0a0; text-decoration: none; }
a:hover { color: #111;  }

ul { list-style-type:square; }

h2, h3, h4, blockquote, div.post_date, table thead tr th { font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;  }
code { padding: 0 0.25em; background: #111; font-family: 'monaco',monospace;  }

img { }
a img, a.noborder { border: 0; text-decoration: none }

/* Helpers */
.clear, .clearer { clear: both; }
.floatLeft { float: left; margin-right: 1em; }
.floatRight { float: right; margin-left: 1em; }

/*.flash { display: none; }*/
.banner { border: 1px solid #bfb; background: #efe; padding: 1em 3em; width: 25em; font-size: 0.9em; line-height: 1.3em; -moz-border-radius: 20px; -webkit-border-radius: 20px; }

/* Layout */
#container { background: #fff; width: 48em; width: 48em; max-width: 90%; padding: 0 0 3em 3em; }

#header { width: 40em; margin-bottom: 3em; padding-top: 1em; }
#header h1 { font-size: 3em; border-bottom: 1px solid #000; padding-bottom: 0.5em; margin-bottom: 0; }
#header p.byline { color: #222; font-size: 1.3em; font-style: italic; font-weight: normal; letter-spacing: 0px; border-bottom: 3px solid #000; margin: 0; padding: 0.3em 0 0.1em 0; }
#header p.bio { font-size: 0.9em; line-height: 1.3em; color: #aaa; padding-right: 15em; }

#content { width: 30em; }
#content h2 { margin-top: 0.1em; }
#content a.permalink { color: #e0e0e0; display: inline; }

#container { position: relative; } /* FIXME MOVEME ... */
#sidebar { width: 12em; position: absolute; top: 250px; right: 20px; text-align: left; padding-left: 2em; border-left: 1px solid #f0f0f0; font-size: 0.9em; }
#sidebar h2, #sidebar h3 { font-family:'Georgia','DejaVu Serif','Times','Times New Roman', serif; margin-bottom: 0.1em; }
#sidebar img { max-width: 10em; } /* was 80% */
#sidebar img.avatar { border: 2px solid #555; margin: 0; padding: 0; }


#sidebar #accounts ul { list-style: none; padding: 0 0 0 0.6em; margin: 0; }

#footer { font-size: 1em; color: #ccc; }

/* Navigation */
ul#navigation { margin: 0; padding: 0; list-style-type: none;  }
ul#navigation li { display: block; float: left; background: #eee;  }
ul#navigation li.first { padding-left: 1.2em;  }
ul#navigation li.last { padding-right: 1.2em;  }
ul#navigation li a { display: block; padding: 0.4em 0.6em; color: #494040; border-bottom: none; font-size: 1.35em; text-decoration: none; text-transform: uppercase; letter-spacing: 0.05em; }
ul#navigation li a:hover { background: #e0e0e0; color: #000;  }

ul#navigation { display: none; }

/* Headers */
h1 { margin-bottom: 0.375em; font-size: 1.6em; font-weight: normal;  }
h1 a { border-bottom: none; text-decoration: none; color: #222;  }
h1 a:hover, h1 a:focus, h1 a:active { background: transparent; color: #0f0;  }
/*h1 a span { position: relative; bottom: 0.5em; padding-left: 0.25em; padding-right: 0.5em; font-size: 0.25em;  }*/

h2 { color: #56a557; font-size: 1.5em; font-weight: bold; line-height: 1.5em;  }
h3 { color: #b6b5b7; font-size: 1.2em; font-weight: normal; font-style: italic; }
h4 { text-transform: uppercase;  }

p { letter-spacing: 0.05em;  }
blockquote { color: #666;  }
blockquote { margin: 1.5em 2.5em; padding-left: 1em; border-left: 1px solid #aaa;  }
.about { padding: 0 0.5em; text-align: center;  }

blockquote { font-style: italic; color: #aaa; }
blockquote a { color: #999; border: none;  }
blockquote a:hover, .about a:hover { color: #777;  }

/* Image */
img.img_left { float: left; margin-right: 1.5em; margin-bottom: 0.25em;  }

ul.images { margin: 0; padding: 0; list-style-type: none;  }
ul.images li img { float: left; margin-right: 1.5em; margin-bottom: 1.5em;  }

/* Table */
table { width: 80%; margin: 0 auto;  }
table thead tr th { text-align: left; text-decoration: underline;  }

/* Archive */
ol.archive { margin: 0; padding: 0; list-style-type: none;  }
ol.archive span.date { float: left; display: block; width: 7em; padding-right: 1em; text-align: right;  }

/* Pagination */
div.left_column, div.right_column, form.center_column { border: 0;  }
div.left_column, div.right_column { width: 25%;  }
div.left_column { float: left;  }
div.right_column { float: right; text-align: right;  }
form.center_column { float: left; width: 50%;  }
form.center_column fieldset { padding: 0; margin: 0; border: none; text-align: center;  }
div.paginator { margin: 3em 0;  }

/* ... */
div.post_date { margin: 0; line-height: 0; font-weight: bold; color: #aaa;  }
hr { border: 0; border-top: 1px solid #eee; border-right: none; border-left: none;  }
hr.post { margin: 3em 0 3.5em 0;  }
div.clear_both { clear: both;  }

/* Sidebar boxes */
#twitter { margin-top: 2.5em; margin-bottom: 2.5em; font-size: 0.9em; line-height: 1.5em; background: transparent url(/images/twitter-bird.png) -15px -15px no-repeat; border: 1px solid #f9f9f9; padding: 0.2em 1em; }
#twitter ul { list-style: none; padding: 0; margin: 0; }
#twitter a:first-child { margin-left: 60px; }

.flickr { margin: 1em 0 1em 0; padding: 0; min-height: 8em; overflow: hidden; }
.flickr.mine { margin-top: 2em; } /* bonus for the 1st */
.flickr img { border: 1px solid #666; }

/*#accounts li,*/ 
#friendroll li { padding-right: 2em; list-style: none; text-align: right; }
